CONFIG_SYSVIPC=y
CONFIG_LOG_BUF_SHIFT=14
CONFIG_ARCH_QIN2440=y
CONFIG_ZBOOT_ROM_TEXT=0x0
CONFIG_ZBOOT_ROM_BSS=0x0
# you may need the EABI if you use gcc 4.x
# CONFIG_AEABI=y
CONFIG_TMPFS=y
CONFIG_SYSFS=y
# CONFIG_JFFS2_FS=y
CONFIG_YAFFS_FS=y

# if you want to use the qin_printf()
# CONFIG_QIN_PRINTF=y

CONFIG_SERIAL_QIN2440=y
CONFIG_SERIAL_QIN2440_CONSOLE=y

CONFIG_MTD_NAND_QIN2440=y
CONFIG_MTD=y
CONFIG_MTD_NAND=y
CONFIG_MTD_PARTITIONS=y
# CONFIG_MTD_NAND_ECC_BCH=y
CONFIG_MTD_CHAR=y
CONFIG_MTD_BLOCK=y

CONFIG_VGA_CONSOLE=n
CONFIG_NET=y
