CONFIG_SYSVIPC=y
CONFIG_LOG_BUF_SHIFT=14
CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE="/root/Work/jz2440/buildroot-2018.08.2/output/images/rootfs.cpio"
# CONFIG_SECCOMP is not set
CONFIG_HZ_100=y
# CONFIG_SERIAL_QIN2440 is not set
CONFIG_SERIAL_QIN2440_POLL=y
CONFIG_SERIAL_QIN2440_CONSOLE=y
# CONFIG_HWMON is not set
# CONFIG_RC_CORE is not set
# CONFIG_HID is not set
# CONFIG_USB_SUPPORT is not set
CONFIG_TMPFS=y
# CONFIG_MISC_FILESYSTEMS is not set
CONFIG_FRAME_WARN=1024
# CONFIG_UNUSED_SYMBOLS is not set
# CONFIG_VIRTUALIZATION is not set
